<div
  style="height: 100vh; display: flex; align-items: center; justify-content: center;"
>
  <div style="text-align: center; color: white;">
    <h1 class="title has-text-white">Opps! Internal Server Error</h1>
    <p class="subtitle is-6 has-text-grey-light">{{error}}</p>
    <a href="/">Return to home</a>
  </div>
</div>
