<div style="position: relative; width: 100%; height: 100vh; overflow: hidden;">
  <div
    class="hero_text"
    style="position: absolute; top:40%; left: 50%; transform: translate(-50%, -50%); text-align: center; z-index: 10;"
  >
    <h1 class="title is-1 has-text-weight-bold has-text-white">Effortless Email
      Campaigns.
      <br />
      Scheduled to Perfection.</h1>
    <p class="subtitle is-5 has-text-grey pt-2">ECS helps you create, schedule,
      and send beautiful email campaigns with zero stress. Just set it and
      forget it.</p>
  </div>
  <div>
    <h1 class="ecs-hero">ECS</h1>
  </div>
  <img src="/img/hero.jpg" alt="hero-image" class="hero_img" />
</div>
<div style="position: relative; width: 100%; height: 100vh; overflow: hidden;">
  <h1
    class="title has-text-white"
    style="z-index: 100; position: absolute; top: 0%; text-align: center; width: 100%;"
  >Features</h1>
  <div
    class="hero_text border is-flex"
    style="position: absolute; top: 20%; text-align: center; transform: skew(15deg); z-index: 10; width: 80%; margin-inline: auto;"
  >
    <img
      src="/img/list.png"
      alt="list"
      style="height:20%; object-fit: cover;"
    />
    <img src="/img/post.png" alt="post" style="height:50%; object-fit: cover" />
  </div>
  <img src="/img/hero.jpg" alt="hero-image" class="hero_img" />
</div>
