<div
  class="footer p-6"
  style="background-color: rgb(var(--zinc-900)); color: rgb(var(--zinc-500)); position: relative; bottom: 0; width: 100%;"
>
  <div
    class="is-flex is-align-items-center is-justify-content-space-between px-6"
  >
    <a href="/" class="has-text-grey-light">
      <div class="is-flex is-align-items-center">
        <img src="/img/logo.png" alt="logo" height="120" width="120" />
        <div class="ml-3">
          <p class="title has-text-white">ECS</p>
          <p class="subtitle has-text-grey is-6">Effortless Campaign Scheduler</p>
        </div>
      </div>
    </a>
    <div class="footer-links">
      <h1 class="has-text-white has-text-weight-semibold">Campaign</h1>
      <ul>
        <li><a href="/campaigns" class="has-text-grey-light">List Campaigns</a></li>
        <li><a href="/campaigns/new" class="has-text-grey-light">Post new
            Campaign</a></li>
      </ul>
    </div>
    <div class="footer-links">
      <ul>
        <h1 class="has-text-white has-text-weight-semibold">Other</h1>
        <li> <a href="/about" class="has-text-grey-light">About us</a></li>
        <li>
          <a href="/privacy-policy" class="has-text-grey-light">Privacy Policy</a></li>
        <li><a href="/terms-of-service" class="has-text-grey-light">Terms of
            Service</a></li>
        <li> <a href="/contact" class="has-text-grey-light">Contact Us</a></li>
      </ul>
    </div>
  </div>
  <br />
  <div>
    <p class="has-text-grey-light">
      ©
      {{year}}
      ECS - Effortless Campaign Scheduler. All rights reserved.
    </p>
  </div>
</div>
